<p id="notice"><%= notice %></p>

<h1>Listing Your Tips</h1>

<table>
  <thead>
    <tr>
      <th>Tip</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @your_tips.each do |your_tip| %>
      <tr>
        <td><%= your_tip.tip %></td>
        <td><%= your_tip.description %></td>
        <td><%= link_to 'Show', your_tip %></td>
        <td><%= link_to 'Edit', edit_your_tip_path(your_tip) %></td>
        <td><%= link_to 'Destroy', your_tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tip', new_your_tip_path %>
