<h1> New User </h1>
<p>Register form</p>

<%= form_for @user do |f| %>
	<div>
		<%= f.text_field :first_name, placeholder: "first name" %>
	</div>
	<div>
		<%= f.text_field :last_name, placeholder: "last name" %>
	</div>  
	<div>
		<%= f.text_field :email, placeholder: "Email" %>
	</div> 
	<div>
		<%= f.password_field :password, placeholder: "Password" %>
	</div> 
	<div>
		<%= f.password_field :password_confirmation, placeholder: "Password_confirmation" %>
	</div> 
	<div>
		<%= f.submit %>
	</div>
<% end %>
